<% if logged_in? %>

  <div id="calendar"></div>
  <div class="row">
  	<aside class="col-md-4">
  	<section class= "user_info">
  	<%= render 'shared/user_info' %>
  	</section>
  	<section class="to_do_list_form">
  	<%= render 'shared/to_do_list_form' %>
  	</section>
  	</aside>

  	<div class="col-md-8">
    <% if @user.to_do_lists.any? %>
    <h3>未完了リスト</h3>
    <ol class="to_do_lists">
      <%= render @to_do_lists %>
    </ol>
    <%= will_paginate @to_do_lists %>
    <% end %>
  </div>

  </div>

    <script type="text/javascript">
      $(document).ready(function() {
      return $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'month',
        slotMinutes: 30,
        timeFormat: 'H:mm',
        editable: false,
        viewRender: function(view, element, end) {
          return $.ajax({
            url: '/calendar/<%= @user.id %>',
            dataType: 'json',
            type: "get",
            success: function(EventSource) {
              $('#calendar').fullCalendar('removeEvents');
              return $('#calendar').fullCalendar('addEventSource', EventSource);
            }
          });
        },
        eventClick: function(event, calEvent, jsEvent, view) {
          var event_id = event.id;
          location.href = "/to_do_lists/" + event_id;
        },
        // ドラッグ＆ドロップで日時を変えたいけど、未完成
        eventDrop: function(event, minuteDelta, allDay, revertFunc) {
          if (!confirm(event.title + "を" + event.start.format() + "に移動します")) {
            revertFunc();
          }
          return {
            eNt: function(drag, end, event, allDay, revertFunc) {
              return $.ajax({
                url: '/calendar/<%= @user.id %>',
                type: 'patch',
                dataType: 'json',
                data: {
                  id: event.id,
                  start: event.start.format(),
                  allday: allDay,
                  drag: drag
                },
                success: function(json) {
                  calendar.fullCalendar('updateEvent', event);
                },
                error: function() {
                  revertFunc();
                }
              });
            }
          };
        }
      });
    });

    </script>

<% else %>

  <div class="jumbotron">
    <h1>Habitize</h1>
    <h2>毎日の積み上げができる自分になるために</h2>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-success" %>
  </div>
<%= link_to image_tag("wadachi_2_icon.jpg", alt:"wadachi_2_icon.jpg"), "http://www.i-noh.com"%>

<% end %>