<%= form_for(@to_do_list, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <h3>ToDoリスト登録</h3>

    <%= f.select :category_id, Category.find(@cids).map{|cid| [cid.category_name, cid.id]}, {}, class: "form-control" %>

    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>

    <%= f.text_area :comment, class: "form-control", placeholder:"コメント" %>

    <%= f.select :priority_flg, ["優先", "普通", "後で"], {}, class: "form-control priority_flg" %>

    <div class="sep"></div>

    <%= f.label :remember_me, class: "checkbox inline" do %>
    <h4 class="relocate">日時指定</h4>
    <%= f.check_box :reminder_mail %>
    <span>開始時間にリマインダメールを送信</span>
    <% end %>
開始日時
　　<%= f.datetime_local_field :schedule_sta, class: "form-control", placeholder: "開始日時を選択してください=>"%>
終了日時
　　<%= f.datetime_local_field :schedule_end, class: "form-control", placeholder: "終了日時を選択してください=>"%>

  </div>
  <%= f.submit "登録", class: "btn btn-success" %>

  <span class="picture">
  	<%= f.file_field :picture, class: "form-control", accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.label :ending_flg, class: "checkbox inline" do %>
    <%= f.check_box :ending_flg %>
    <span>完了済み（記録するだけ）</span>
  <% end %>

<% end %>

<script type="text/javascript">
$('#to_do_list_picture').bind('change',function(){
	var size_in_megabytes = this.files[0].size/1024/1024;
	if (size_in_megabytes > 5) {
		alert('ファイルサイズの上限は5MBです。ファイルサイズを変更するか、5MB以下のファイルを選択してください。')
	}
});
</script>